%% rebar3 build configuration

%% This project depends upon 2 packages. The GRiSP package, of course, and a json parser, called jsx.
{deps, [ grisp,
         jsx
       ]}.

%% Specific instructions for deplyoing a release
%% My micro SD card  is mounted to GRISP on a Mac
%% I delete the complete project from the SD card before creating a new.
{grisp, [
    {otp, [
        {version, "22.0"}
    ]},
    {deploy, [
        {pre_script, "rm -rf /Volumes/GRISP/*"},
        {destination, "/Volumes/GRISP/"},
        {post_script, "diskutil unmount /Volumes/GRISP"}
    ]}
]}.

%% This is only needed when debugging via an Erlang remote shell
{shell, [{apps, []}]}.

%% The relx application is used to build a release
{relx, [
    {release, {cuckoo, "1.0.0"}, [cuckoo]}
]}.

{plugins, [rebar3_grisp]}.
